body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #9aa7aa;

    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}


/* Page */
.page {
    overflow: hidden;
}


/* Container */

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


/* Header */

.header {
    width: 100%;
    max-height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;
    position: fixed;

    background-color: #31344e;
}

.header.fixed .header__inner {
    padding: 15px 0;

    border-bottom: 0;
}

header__logo {

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;

    border-bottom: 1px solid #515369;
}


/* Nav */

.nav {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 56px;

    color: #fff;
    opacity: .75;
    text-decoration: none;

    transition: opacity .1s linear;
}

.burger {
    display: none;
}

.nav__link:last-child {
    margin-left: none;
}

.nav__link:hover {
    opacity: 1;
    text-decoration: underline;
}


/* Intro */

.intro  {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 750px;
    padding-top: 100px;

    background: #31344e url("../img/intro-bg.jpg") center no-repeat;
}

.intro__inner {
    margin: -24px auto 0;
    width: 100%;
    max-width: 940px;

    text-align: center;
}

.intro__title {
    margin-bottom: 23px;

    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 71px;

    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.intro__subtitle {
    margin-bottom: 86px;

    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
}

.btn {
    padding: 16px 48px 15px 51px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

    transition: background .1s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #dd3434;
}


/* About*/
.about {
    padding: 82px 0 87px;

    min-height: 692px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about__item {
    margin: 0 45px;

    width: 33.33333%;
    max-width: 300px;
}

.about__img {
    margin: 0 auto 25px;
    display: block;
}

.about__title {
    margin-bottom: 16px;

    font-size: 14px;
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;
    line-height: 1.5;

    text-align: center;
}

.abaut__subtitle {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
    text-align: center;
}


/* Works */

.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1px 0 0 2px;
}

.works__item {

    height: 350px;
    position: relative;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__img {
    width: 100%;
    height: 100%;
    position: absolute;

    top: 0;
    left: 0;
    z-index: 1;
}

.short-img {
    width: 470px;
}

.wide-img {
    width: 480px;
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-color:
            rgba(232, 69, 69, .9);
    opacity: 0;

    text-align: center;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity .2s linear;
}


.works__title {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #fff;
}


/* Team */

.team {
    margin: 101px 0 96px 0;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__item {

    width: 23%;
}

.team__name {
    margin: 24px 0 0 0;

    font-size: 22px;
    font-weight: 400;
    color: #2d3033;
}

.team__prof {
    margin-top: 7px;

    font-size: 13px;
    font-weight: 400;
    color: #e84545;
    text-transform: uppercase;
}

.team__text {
    margin-top: 23px;

    max-width: 270px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #6c7279;
}

.team__social {
    display: flex;
    margin-top: 26px;
    margin-bottom: 2px;

    font-size: 18px;
    color: #e8ecee;
}

.team__social a {
    color: #e8ecee;
    text-decoration: none;
    cursor: pointer;
}

.team__social-icon {
    color: #979797;
    margin-right: 4px;
}


/* Slider */
.slider {
    margin-left: 4px;
    display: flex;

    background-color: #53354a;
}

.slider__img {
    width: 50%;
    max-width: 950px;
    height: auto;
}

.slider__inner {
    margin-left: 85px;

    position: relative;

    width: 50%;
    max-width: 510px;
}

.slider__text {
    position: absolute;
    top: 108px;
    left: -1px;
    z-index: 1;

    font-size: 36px;
    line-height: 42px;
    font-family: 'Cardo', serif;
    color: #fff;
}

.slider__title {
    position: absolute;
    bottom: 178px;
    left: 0;
    z-index: 1;

    padding-top: 20px;

    font-size: 13px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

.slider__table {
    position: absolute;
    bottom: 94px;
    left: 155px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__item {
    margin-left: 8px;

    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: #755d6e;
    border-radius: 50%;

    cursor: pointer;
}

.slider__item:nth-child(2) {
    background-color: #fff;
}

.slider__container .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__container .slick-dots li {
    list-style: none;
    margin-left: -5px;
}
.slider__container .slick-dots li button:before {
    font-family: 'slick';
    font-size: 13px;
    line-height: 12px;
    position: absolute;
    top: -123px;
    left: 341px;
    width: 12px;
    height: 12px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider__container  .slick-dots li.slick-active button:before {
    color: #fff;

}


/* Download */
.download {
    width: 100%;
    padding: 70px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.download__title {
    margin-bottom: 15px;

    font-size: 28px;
    line-height: 21px;
    font-weight: 300;
    color: #636363;
}

.download__subtitle {
    margin-bottom: 35px;

    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    color: #2d3033;
    text-transform: uppercase;
}

.download__btn {
    padding: 14px 88px 13px 78px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

    transition: background .1s linear;
}

.dwnbtn--red {
    background-color: #e84545;
}

.dwnbtn--red:hover {
    background-color: #dd3434;
}


/* Footer */
.footer {
    width: 100%;
    height: 250px;

    background-color: #3a3e64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
}

.footer__item {
    margin-top: 65px;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33333%;
}

.footer__title {

    font-size: 14px;
    line-height: 22.5px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.footer__text {
    margin-top: 15px;

    max-width: 150px;

    text-align: center;
    font-size: 14px;
    line-height: 22.5px;
    font-weight: 400;
}

.footer__text1 {
    margin-top: 15px;

    max-width: 330px;

    text-align: center;
    font-size: 14px;
    line-height: 22.5px;
    font-weight: 400;
}

.footer__social {
    margin-top: 17px;
}

.footer__social a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

.footer__social .fa-facebook-f,
.fa-twitter, .fa-invision {
    margin-right: 4px;
    font-size: 18px;
}


/* Copyright */
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 95px;
    background-color: #313454;
}

.copy__inner {
    max-width: 320px;

    line-height: 22.5px;
    text-align: center;
}

.fa-heart {
    font-size: 10px;
    color: #e84545;
}

.copy__inner span {
    color: #fff;
}



/* Media */

@media (max-width: 1902px) {
    /* Works */
    .works__item {
        max-width: 480px;
        width: 50%;
    }

    .works__item:nth-child(2n) {
        border-right: none;
    }
    .works__item:nth-child(2n+1) {
        margin-left: 0;
    }

    /* Slider */
    .slider {
        justify-content: center;
        background: none;
    }

    .slider__img {
        width: 100%;
    }

   .slider__inner {
       display: none;
   }

    .slider__container .slick-dots li button:before {
        font-family: 'slick';
        font-size: 13px;
        line-height: 12px;
        position: absolute;
        top: -30px;
        left: 0px;
        width: 12px;
        height: 12px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}


@media (max-width: 1200px) {
    /* Team */
    .team__inner {
        justify-content: center;
    }

    .team__item {
        width: auto;
        padding: 70px;
    }
}


@media (max-width: 991px) {
    /* Intro */
    .intro__title {
        font-size: 40px;
    }

    .intro__subtitle {
        font-size: 18px;
    }

    .btn {
        margin: 0 auto;
    }


    /* About */
    .about__item {
        width: 50%;
        padding-bottom: 20px;
    }

    /* works */
     .short-img {
        width: 48%;
    }

    .wide-img {
        width: 52%;
    }

    /* Nav */
    .nav {
        display: none;
        width: 100%;
        flex-direction: column;

        background-color: #31344e;
        text-align: right;

        position: absolute;
        right: 0;
        top: 100%;
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        padding: 9px 15px;
    }


    /* Burger */
    .burger {
        right: 30px;
        display: block;
        position: absolute;
        background: none;
        border: 0;
        padding: 13.5px 0;

        outline: none;
        cursor: pointer;
    }

    .burger__item {
        display: block;

        position: relative;
        width: 30px;
        height: 3px;

        background-color: #fff;

        font-size: 0;
        color: transparent;
    }

    .item__itemS {
        position: absolute;
        top: -3px;
        display: block;
        width: 30px;
        height: 3px;

        font-size: 0;
        color: transparent;

        background-color: #fff;
    }

    .burger__item:before,
    .burger__item:after {
        content: "";
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        z-index: 1;

        background-color: #fff;
    }

    .burger__item:before {
        top: -8px;
    }

    .burger__item:after {
        top: 8px;
    }


    /* Slider */
    .slider__img {
        width: 100%;
        height: auto;
    }


    /* Download */
    .download__title {
        font-size: 18px;
        text-align: center;
    }

    .download__subtitle {
        font-size: 8px;
    }

    .download__btn {
        padding: 3px 6px;
    }


    /* Footer */
    .footer__title {
        font-size: 8px;
    }

    .footer__text,
    .footer__text1 {
        font-size: 8px;
    }
}


@media (max-width: 768px) {
    /* About */
    .about__item {
        width: 50%;
        max-width: 250px;
        padding-bottom: 20px;
    }

    /* works */
    .works {

    }

    .works__item {
        width: 100%;
    }
}


@media (max-width: 575px) {
    /* Header */
    .header__inner {
        border-bottom: none;
    }


    /* Intro */
    .intro {
        height: auto;
    }

    .intro__title {
        font-size: 30px;
        line-height: 1;
    }

    .intro__subtitle {
        margin-bottom: 20px;
        font-size: 13px;
    }

    .btn {
        margin-bottom: 30px;
        padding: 3px 10px;
    }

        /* Team */
    .team__item {
        padding: 20px;
    }

    /* Footer */
    .footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }

    .footer__item {
        margin: 5px auto;
        width: 100%;
    }

    .footer__text,
    .footer__text1,
    .footer__social {
        margin-top: 5px;
    }

    /* Footer */
    .copy__inner {
        font-size: 8px;
    }
}