body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;

    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}


/* Container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Header */

.header {
    width: 100%;
    max-height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

header__logo {

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 16px 36px 13px;

    border-bottom: 1px solid #515369;
}


/* Nav */

.nav {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 56px;

    color: #fff;
    opacity: .75;
    text-decoration: none;

    transition: opacity .1s linear;
}



.nav__link:last-child {
    margin-left: none;
}

.nav__link:hover {
    opacity: 1;
    text-decoration: underline;
}


/* Intro */

.intro  {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 750px;
    padding-top: 100px;

    background: url("../img/intro-bg.jpg") center no-repeat;
}

.intro__inner {
    position: relative;

    margin: 0 auto;
    width: 100%;
    max-width: 940px;


}

.intro__title {
    position: absolute;
    top: -182px;
    left: -2px;
    z-index: 1;

    margin: 0 0 30px 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 71px;

    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.intro__subtitle {
    position: absolute;
    top: -17px;
    left: -2px;
    z-index: 1;

    margin-bottom: 60px;

    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
}


/* Intro */

.btn {
    position: absolute;
    top: 121px;
    left: 370px;
    z-index: 1;

    display: inline-block;
    vertical-align: top;
    padding: 14px 46px 13px 52px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

    transition: background .1s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #dd3434;
}


/* About*/
.about {
    padding-top: 114px;
    padding-bottom: 121px;

    display: flex;
    flex-wrap: wrap;
}

.about__inner {
    display: block;
    width: 100%;
}

.about__item {
    margin-left: 90.5px;

    width: 33.33333%;
    max-width: 300px;
}

.about__item:first-child {
    margin-left: 59px;
}
.about__item:nth-child(4) {
    margin-left: 59px;
}

.about__item:nth-child(4),
.about__item:nth-child(5),
.about__item:nth-child(6) {
    margin-top: 66px;
}

.about__img {
    margin: 0 auto 25px;
    display: block;
}

.about__title {
    margin-bottom: 16px;

    font-size: 14px;
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;
    line-height: 1.5;

    text-align: center;
}

.abaut__subtitle {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
    text-align: center;
}


/* Works */

.works {
    display: flex;
    flex-wrap: wrap;

}

.works__item {
    height: 350px;
    position: relative;
    overflow: hidden;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__item:last-child,
.works__item:nth-child(8) {
    border-right: none;
}

.works__item:nth-child(1),
.works__item:nth-child(4),
.works__item:nth-child(5),
.works__item:nth-child(8) {
    width: 470px;
}

.works__item:nth-child(2),
.works__item:nth-child(3),
.works__item:nth-child(6),
.works__item:nth-child(7) {
    width: 480px;
}

.works__img {
    position: absolute;

    top: 0;
    left: 0;
    z-index: 1;
}


.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-color:
            rgba(232, 69, 69, .9);
    opacity: 0;

    text-align: center;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #fff;
}


/* Team */

.team {
    margin: 100px 0;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__item {
    margin-left: 13px;
    width: 23.9%;
}

.team__name {
    margin: 24px 0 0 0;

    font-size: 22px;
    font-weight: 400;
    color: #2d3033;
}

.team__prof {
    margin-top: 7px;

    font-size: 13px;
    font-weight: 400;
    color: #e84545;
    text-transform: uppercase;
}

.team__text {
    margin-top: 23px;

    max-width: 270px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #6c7279;
}

.team__social {
    margin-top: 26px;

    font-size: 18px;
    color: #e8ecee;
}

.team__social a {
    color: #e8ecee;
    text-decoration: none;
}

.fa-facebook-f {
    padding: 9px 13px;
    border: 1px solid #e8ecee;

    cursor: pointer;
}

.fa-twitter {
    padding: 9px 10px;
    border: 1px solid #e8ecee;

    cursor: pointer;
}

.fa-invision {
    padding: 9px 11px;
    border: 1px solid #e8ecee;

    cursor: pointer;
}